*{
    margin: 0;
    padding: 9;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

@font-face {
    font-family: Main-font;
    src: url(../fonts/WixMadeforTextVF_W_Wght.8022447a.woff2);
}
body{
    background-color: var(--Primery_Whihe);
    max-width: 2000px;
    height: auto;
    
     
}

:root{
    --Primery_Whihe: rgb(255,255,255);
    --Primery_Dark_Blue : rgb(12,60,96);
    --text: rgb(7,33,54);
    --font-family:Main-font;
    --overlay: rgb(216,232,242);
    --testimonial_backgound : rgb(247,247,247);
    ---shadow: 0px 4px 7px -2px rgba(0,0,0,0.68);
    --contactBb: rgb(7,33,54);

}
.medium_title {
    text-align: center;
    font-size: 36px;
    font-family: var(--font-family);
    font-weight: 100;
    color: rgb(0, 0, 0);
}
.poject_heading{
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: normal;
    color: var(--Primery_Dark_Blue);
    font-family: var(--font-family);
    font-weight: 100;
}
.main_project {
    width: 1455px;
    height: 1634px;
    background-color: var(--Primery_Whihe);
}
.main_title {
    width: 1455px;
    height: 225px;
  
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.main_title  h2{
    text-transform: uppercase;
    font-size: 60px;
    color: var(--Primery_Dark_Blue);
}
.main_content {
    width: 1455px;
    height: 1287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6%;
}
.section {
     width: 1075px;
     height: 643.48px;
    
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10%;
     
}
.main_card{
    width: 535.45px;
    height: 641.48px;
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
   
}
.main_card .image  {
   width: 438px;
   height: 268px;
    
}
.main_card .image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 
.main_card  .title{
    width: 430px;
    height: 51.5px;
 
}
.main_card .text {
    width: 430px;
    height: 143.98px;
    background-color: white;
}
.text_span {
    line-height: 1.8em;
    font-size: 16px;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
    font-weight: normal;
}